@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/css/site.css">

</head>
<body>
    <div id="header">
    </div>

    <div id="main">
        @RenderBody()
    </div>
    <div id="footer">
        <p> Developed by Peng Cai</p>
    </div>
    <script src="~/js/site.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
</body>
</html>