@{
}
@{
    @using Frontend.Models;
    @model IEnumerable<ClientInfo>;

}
<div id="tableview" style="width:1025px; height:300px; overflow-y:scroll;">
    <table cellspacing="0" width="900px" id="dataTableDetail">
        <caption>Clients Info</caption>
          <tr>
            <th>Id</th>
            <th>URL</th>
            <th>Num of Completed Jobs</th>
            <th>Status</th>
          </tr>
        @foreach (var client in Model)
        {
            <tr>
                <td>@client.Id</td>
                <td>http://@client.Host:@client.Port</td>
                <td>@client.NumCompletedJobs</td>
                @{
                    var status = client.Status ? "Active" : "Dead";
                }
                <td>@status</td>
            </tr>
        }
    </table>
</div>

<script>
    setInterval(loadClientInfo, 10000); // 10 seconds

    function loadClientInfo() {
        $.ajax({
            url: '/home/ClientInfo/',
            type: 'get',
            contentType: 'application/json',
            processData: false,
            success: function (data, textStatus, jQxhr) {
                $("#dataTableDetail > tbody").find("tr:gt(0)").remove();
                for (i = 0; i < data.length; i++) {
                    var status = data[i].status ? "Active" : "Dead";
                    var $row = $('<tr>' +
                        "<td>" + data[i].id + "</td>" + 
                        "<td>http://" + data[i].host + ":" + data[i].port + "</td>" + 
                        "<td>" + data[i].numCompletedJobs + "</td>" +
                        "<td>" + status + "</td>");
                    $("#dataTableDetail").append($row);
  
                }
            },
            error: function (xhr, textStatus, error) {
                alert("Error: " + xhr.responseText);
                console.log(xhr.statusText);
                console.log(textStatus);
                console.log(error);
            }
        });
    }

</script>